* {
    margin: 0;
    line-height: 1.5em;
}

h2 {
    margin-top: 0.5em;
}


/*magen izq-der 10em ariba y abajo 1em*/

body {
    margin: 23%;
    margin-top: 1%;
}


/*interliniado para todo el ancabezado*/

header {
    line-height: 1.5em;
}


/*aliniacion a la derecha*/

header .derecha {
    text-align: right;
}


/*separa el spam */

header .derecha spam {
    line-height: 3.5em;
}


/*margen inferior el spam */

.cuerpo .p1 span {
    line-height: 3.5em;
}

.cuerpo .espacio {
    margin-top: 0.5em;
}

.cuerpo .starting_dates span {
    color: blue;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.cuerpo .exotic_dance blockquote {
    margin-left: 2em;
}

.cuerpo .exotic_dance span {
    color: blue;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.pie {
    margin-top: 5em;
}

.pie p {
    line-height: 2em;
}