 body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 h1 {
     font-size: 1em;
 }
 
 p {
     color: #7d93a6;
 }
 
 .cabecera {
     font-weight: bold;
 }
 
 .se {
     color: red;
 }
 
 .eti01 {
     background: red;
     color: white;
     text-align: center;
     font-weight: bold;
 }
 
 .center {
     padding-left: 10em;
 }
 
 .ma {
     color: #ff7514;
 }
 
 .eti02 {
     background: #ff7514;
     color: white;
     text-align: center;
     font-weight: bold;
 }
 
 .lp {
     color: rebeccapurple;
 }
 
 .eti03 {
     background: rebeccapurple;
     color: white;
     text-align: center;
     font-weight: bold;
 }
 
 .etiqueta {
     display: flex;
 }
 
 .center {
     color: lightcoral;
     align-content: flex-end;
 }
 
 img {
     height: 150px;
     width: 250px;
     align-content: center;
 }
 
 .btnaranja {
     background: #ff7514;
 }
 
 .card {
     margin-top: 1em;
     width: 300px;
     height: 400px;
     border-right: 1px solid #ff7514;
     text-align: justify;
     padding-left: 1em;
     padding-right: 1em;
 }
 
 .cont {
     margin: 2em;
     border-top: 1px solid #ff7514;
     display: flex;
 }
 
 .time {
     text-align: right;
     padding-top: 2em;
 }
 /*****/
 
 .btnTur {
     background: red;
 }
 
 .responsive-img {
     width: 80px;
     height: 50px;
 }