    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        /*tamaño de letra*/
        font-size: 1.2rem;
        /*interliniado*/
        line-height: 1.5em;
    }
    
    .header {
        background: black;
        color: white;
        padding: 1rem 0;
        /*hacer el menu fijo
        position: fixed;
        left: 0;
        top: 0;
        right: 0;*/
    }
    
    .header a {
        color: white;
        text-decoration: none;
        padding: 0.5em 1rem;
        transition: all 0.30 linear;
    }
    
    .header-nav {
        display: flex;
        justify-content: space-between;
        /*aliniamos al centro*/
        align-items: center;
        flex-wrap: wrap;
    }
    /*logo*/
    
    .header-nav .txtEncabezado {
        letter-spacing: 1px;
        font-size: 2em;
    }
    
    .header a:hover {
        background: rgba(6, 241, 170, 0.253);
        border-radius: 10em;
    }
    
    .contenedoraba {
        width: 90%;
        max-width: 1000;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    table {
        font-family: Arial, Helvetica, sans-serif;
        /*tamaño de letra*/
        font-size: 1.2rem;
        /*interliniado*/
        line-height: 1.5em;
        padding-top: 3em;
        align-content: center;
        border-radius: 0%;
        border-collapse: collapse;
        width: 80%;
        margin: auto;
    }
    
    table th {
        text-align: center;
        border: 2px solid;
    }
    
    table td {
        text-align: center;
        border: 2px solid;
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
    /*card*/
    
    .contenedoraba .card {
        width: 330px;
        height: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.255;
    }
    
    .contenedoraba .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
    
    .contenedoraba .card img {
        width: 330px;
        height: 150px;
        align-content: center;
        border-radius: 3%;
    }
    
    .contenedoraba .card h3 {
        font-weight: 600;
        text-align: center;
    }
    
    .contenedoraba .card p {
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
    
    .contenedoraba .card a {
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        color: #3498db;
    }
    
    .dracula {
        color: red;
        font-style: oblique;
    }
    
    .canchita {
        font-style: italic;
    }
    
    .hobby {
        font-weight: bold;
    }
    
    h1 {
        text-align: center;
    }
    /*slider*/
    
    .slider {
        width: 70%;
        margin: auto;
        overflow: hidden;
    }
    
    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite linear;
    }
    
    .slider li {
        width: 100%;
        list-style: none;
    }
    
    .slider img {
        border: 1px#efb810;
        border-style: solid;
        width: 99%;
        height: 90%;
        border-radius: 10pt;
    }
    /*paradas*/
    
    @keyframes cambio {
        /*haciendo que la imagen quede quieta 0-20% 20*0.2=4 seg*/
        0% {
            margin-left: 0;
        }
        20% {
            margin-left: 0;
        }
        /*transicion de 1 seg*/
        25% {
            margin-left: -100%;
        }
        45% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        70% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        100% {
            margin-left: -300%;
        }
    }