        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            /*tamaño de letra*/
            font-size: 1.2rem;
            /*interliniado*/
            line-height: 1.5em;
        }
        
        .header {
            background: black;
            color: white;
            padding: 1rem 0;
            /*hacer el menu fijo*/
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
        }
        
        .header a {
            color: white;
            text-decoration: none;
            padding: 0.5em 1rem;
            transition: all 0.30 linear;
        }
        
        .header a:hover {
            background: rgba(6, 241, 170, 0.253);
            border-radius: 10em;
        }
        
        .header-nav {
            display: flex;
            justify-content: space-between;
            /*aliniamos al centro*/
            align-items: center;
            flex-wrap: wrap;
        }
        /*logo*/
        
        .header-nav .txtEncabezado {
            letter-spacing: 1px;
            font-size: 2em;
        }
        
        .cont-section {
            justify-content: center;
            padding-top: 12rem;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-bottom: 8rem;
        }
        
        table {
            text-align: center;
            border-collapse: collapse;
            width: 100%;
            margin: auto;
        }
        
        table td {
            text-align: left;
            height: 50%;
            font-size: 1.1em;
        }
        
        table tr {
            color: #333;
            text-align: left;
        }
        
        .table-input input {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            color: black;
            border-color: #1323FA;
            border-radius: 30pt;
            height: 50px;
            width: 80%;
            background-color: rgba(253, 253, 253, 0);
        }
        
        .table-check-radio input {
            text-align: left;
            color: black;
            border-color: #1323FA;
        }
        
        textarea {
            border-color: #1323FA;
            border-radius: 5pt;
            height: 100%;
            width: 80%;
            font-size: 1.2em;
            color: #333;
            text-align: center;
            background-color: rgba(253, 253, 253, 0);
        }
        
        .button input {
            font-size: 1.5em;
            border-color: #1323FA;
            background-color: #3B5DF5;
            color: white;
            border-radius: 10pt;
            height: 90%;
            width: 30%;
        }
        
        section img {
            height: 25%;
            width: 25%;
            border-radius: 5%;
        }