                            .bodyindex {
                                margin: 0;
                                font-family: Arial, Helvetica, sans-serif;
                                /*tamaño de letra*/
                                font-size: 1.2rem;
                                /*interliniado*/
                                line-height: 1.5em;
                                background-image: url(../imagen/fondo.jpg);
                                background-repeat: repeat;
                                background-size: 100%;
                            }
                            
                            .header {
                                background: black;
                                color: white;
                                padding: 1rem 0;
                                /*hacer el menu fijo*/
                                position: fixed;
                                left: 0;
                                top: 0;
                                right: 0;
                            }
                            
                            .header a {
                                color: white;
                                text-decoration: none;
                                padding: 0.5em 1rem;
                                transition: all 1 linear;
                            }
                            
                            .header-nav {
                                display: flex;
                                justify-content: space-between;
                                /*aliniamos al centro*/
                                align-items: center;
                                flex-wrap: wrap;
                            }
                            
                            .header a:hover {
                                background: rgba(6, 241, 170, 0.253);
                                border-radius: 10em;
                            }
                            /*logo*/
                            
                            .header-nav .txtEncabezado {
                                letter-spacing: 1px;
                                font-size: 2em;
                            }
                            /*section*/
                            /*padding top para bajar la pag*/
                            
                            .cont-section {
                                padding-top: 10rem;
                                padding-bottom: 10rem;
                            }
                            
                            .cont-section div {
                                text-align-last: center;
                            }
                            
                            .cont-section img {
                                border: 10px rgba(6, 241, 170, 0.253);
                                border-radius: 50%;
                                border-style: solid;
                                width: 10rem;
                            }
                            /*textos*/
                            
                            .txt-bannerprincipal {
                                color: white;
                            }
                            
                            .txt-bannersec {
                                color: white;
                            }
                            
                            .txt-bannersec abbr {
                                color: white;
                            }
                            /*media para que mantenga el aspecto la pag*/