 /*pie de pagina*/
 
 .footer {
     background: black;
     color: white;
     padding: 1.1em;
     text-align: center;
     margin-top: 1em;
     font-size: 15px;
     /*interliniado*/
     line-height: 1em;
     margin: 0;
     font-family: Arial;
     font-style: normal;
 }
 
 .footer a {
     color: white;
     text-decoration: none;
 }
 
 .footer address {
     font-style: normal;
     font-family: "OCR-B 10 BT", Arial;
 }
 
 .navfooter ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 .navfooter ul li {
     display: inline-block;
 }
 
 .navfooter ul li a {
     display: block;
     padding: 0.5rem 1rem;
     transition: all 0.2s linear;
 }
 
 .navfooter ul li a:hover {
     background: #0a07d16c;
     border-radius: 50%;
 }